<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.iotek.ssm.dao.AdminDao">
	<select id="queryAdminByNameAndPass"  resultType="Admin">
		SELECT * FROM admin WHERE name=#{name} AND password=#{password}
	</select>
	<insert id="insertAdmin" parameterType="Admin">
		INSERT INTO admin(name,password)VALUES (#{name},#{password})
	</insert>
	<select id="queryAdminByName" resultType="Admin">
		SELECT * FROM admin WHERE name=#{name}
	</select>
</mapper>







		
