<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.iotek.ssm.dao.BranchDao">
	<select id="queryAllBranch" resultType="Branch">
		SELECT
		*
		FROM
		branch
	</select>
	<select id="queryBranchByName" resultType="Branch">
		SELECT
		*
		FROM
		branch
		WHERE
		name=#{name}
	</select>
	<select id="queryBranchById" resultType="Branch">
		SELECT
		*
		FROM
		branch
		WHERE
		id=#{id}
	</select>
	<insert id="insertBranch" parameterType="Branch">
		INSERT
		INTO
		branch(
		name,
		time
		)VALUES (
		#{name},
		#{time}
		)
	</insert>
</mapper>







		
