<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.iotek.ssm.dao.TouristerDao">
	<insert id="insertTourist" parameterType="Tourist">
		INSERT INTO tourist(name,password)VALUES (#{name},#{password})
	</insert>
	<select id="queryTouristByNameAndPass"  resultType="Tourist">
		SELECT * FROM tourist WHERE name=#{name} AND password=#{password}
	</select>
	<select id="queryTouristById" resultType="Tourist">
		SELECT * FROM tourist WHERE id=#{id}
	</select>
	<select id="queryTouristByName" resultType="Tourist">
		SELECT * FROM tourist WHERE name=#{name}
	</select>
</mapper>







		
