<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.iotek.ssm.dao.VitaeDao">
	<select id="queryVitaeByTouristId" resultType="Vitae" parameterType="int">
	SELECT
	v.id,
	v.name,
	v.sex,
	v.age,
	v.schoolling,
	v.phone,
	v.email,
	b.id "branch.id",
	b.name "branch.name",
	b.time "branch.time",
	j.id "job.id",
	j.name "job.name",
	v.appearance,
	v.work,
	v.worktime,
	v.salary,
	v.bent,
	v.state,
	t.id "tourist.id",
	t.name "tourist.name",
	t.password "tourist.password"
	FROM
	vitae v,
	branch b,
	job j,
	tourist t
	WHERE
	v.b_id=b.id
	AND
	v.j_id=j.id
	AND
	v.t_id=t.id
	AND
	v.t_id=#{id}
</select>

	<insert id="insertVitae" parameterType="Vitae">
		INSERT INTO
		vitae(
		name,
		sex,
		age,
		schoolling,
		phone,
		email,
		b_id,
		j_id,
		appearance,
		work,
		worktime,
		salary,
		bent,
		state,
		t_id
		)VALUES (
		#{name},
		#{sex},
		#{age},
		#{schoolling},
		#{phone},
		#{email},
		#{branch.id},
		#{job.id},
		#{appearance},
		#{work},
		#{workTime},
		#{salary},
		#{bent},
		#{state},
		#{tourist.id}
		)
	</insert>
	<update id="updateVitae" parameterType="Vitae">
		UPDATE
		vitae
		SET
		name=#{name},
		sex=#{sex},
		age=#{age},
		schoolling=#{schoolling},
		phone=#{phone},
		email=#{email},
		b_id=#{branch.id},
		j_id=#{job.id},
		appearance=#{appearance},
		work=#{work},
		worktime=#{workTime},
		salary=#{salary},
		bent=#{bent}
		WHERE
		t_id=#{tourist.id}
	</update>

	<select id="queryVitaeByState" resultType="Vitae">
	SELECT
	v.id,
	v.name,
	v.sex,
	v.age,
	v.schoolling,
	v.phone,
	v.email,
	b.id "branch.id",
	b.name "branch.name",
	b.time "branch.time",
	j.id "job.id",
	j.name "job.name",
	v.appearance,
	v.work,
	v.worktime,
	v.salary,
	v.bent,
	v.red,
	v.state,
	t.id "tourist.id",
	t.name "tourist.name",
	t.password "tourist.password"
	FROM
	vitae v,
	branch b,
	job j,
	tourist t
	WHERE
	v.b_id=b.id
	AND
	v.j_id=j.id
	AND
	v.t_id=t.id
	AND
	v.state='已投递'
	</select>

	<update id="resumeVitae" parameterType="int">
		UPDATE
		vitae
		SET
		state='已投递'
		WHERE
		t_id=#{tid}
	</update>

	<update id="redVitae" parameterType="int">
		UPDATE
		vitae
		SET
		red='已阅'
		WHERE
		id=#{tid}
	</update>
</mapper>







		
